USE [master]
GO
/****** Object:  Database [BaseDeDatos_1847391]    Script Date: 25/05/2020 04:27:35 p. m. ******/
CREATE DATABASE [BaseDeDatos_1847391]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaseDeDatos_1847391', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BaseDeDatos_1847391.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaseDeDatos_1847391_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BaseDeDatos_1847391_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaseDeDatos_1847391].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaseDeDatos_1847391]
GO
/****** Object:  Table [dbo].[Asiento]    Script Date: 25/05/2020 04:27:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asiento](
	[id_Asiento] [int] NOT NULL,
	[letra] [char](1) NOT NULL,
	[fila] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Asiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Camion]    Script Date: 25/05/2020 04:27:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Camion](
	[id_Camion] [int] NOT NULL,
	[id_Chofer] [int] NOT NULL,
	[id_Asiento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Camion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chofer]    Script Date: 25/05/2020 04:27:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chofer](
	[id_Chofer] [int] NOT NULL,
	[chNombre] [varchar](20) NOT NULL,
	[chEdad] [int] NOT NULL,
	[chTelefono] [bigint] NOT NULL,
	[chLicencia] [varchar](5) NOT NULL,
	[EmpleadoActivo] [char](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Chofer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleDeVenta]    Script Date: 25/05/2020 04:27:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleDeVenta](
	[id_DetalleDeVenta] [int] NOT NULL,
	[id_Salida] [int] NOT NULL,
	[id_ProductoBoleto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_DetalleDeVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacturaEncabezado]    Script Date: 25/05/2020 04:27:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacturaEncabezado](
	[id_Factura] [int] NOT NULL,
	[id_RegistroVenta] [int] NOT NULL,
	[id_ProductoBoleto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MunicipiosEstados]    Script Date: 25/05/2020 04:27:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MunicipiosEstados](
	[id_MunicipioEstado] [int] NOT NULL,
	[Municipio] [varchar](20) NOT NULL,
	[Estado] [varchar](18) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_MunicipioEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pasajero]    Script Date: 25/05/2020 04:27:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pasajero](
	[id_Pasajero] [int] NOT NULL,
	[pNombre] [varchar](15) NOT NULL,
	[pApellido] [varchar](15) NOT NULL,
	[pCorreo] [varchar](30) NOT NULL,
	[pTelefono] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Pasajero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrecioDeRuta]    Script Date: 25/05/2020 04:27:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrecioDeRuta](
	[iId_PrecioRuta] [int] NOT NULL,
	[id_Ruta] [int] NOT NULL,
	[PrecioRuta] [float] NOT NULL,
	[iIdPromocion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iId_PrecioRuta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoBoleto]    Script Date: 25/05/2020 04:27:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoBoleto](
	[id_ProductoBoleto] [int] NOT NULL,
	[id_Pasajero] [int] NOT NULL,
	[iId_PrecioRuta] [int] NOT NULL,
	[CantidadDeBoletos] [tinyint] NOT NULL,
	[Precio_BoletosFinal] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ProductoBoleto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promocion]    Script Date: 25/05/2020 04:27:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promocion](
	[iIdPromocion] [int] NOT NULL,
	[dFecInicioPromocion] [date] NOT NULL,
	[dFecFinPromocion] [date] NOT NULL,
	[fPorcentajeDescto] [float] NOT NULL,
	[cGenero] [char](1) NOT NULL,
	[tEdadMin] [tinyint] NOT NULL,
	[tEdadMax] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iIdPromocion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroDeVenta]    Script Date: 25/05/2020 04:27:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroDeVenta](
	[id_RegistroVenta] [int] NOT NULL,
	[id_DetalleDeVenta] [int] NOT NULL,
	[CapturaVenta] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_RegistroVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ruta]    Script Date: 25/05/2020 04:27:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ruta](
	[id_Ruta] [int] NOT NULL,
	[Origen] [int] NOT NULL,
	[Destino] [int] NOT NULL,
	[Distancia_KM] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Ruta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salida]    Script Date: 25/05/2020 04:27:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salida](
	[id_Salida] [int] NOT NULL,
	[HoraSalida] [time](7) NOT NULL,
	[FechaSalida] [date] NOT NULL,
	[id_Camion] [int] NOT NULL,
	[id_Ruta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Salida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 25/05/2020 04:27:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_Usuario] [int] NOT NULL,
	[uUsuario] [varchar](20) NOT NULL,
	[uContraseña] [varchar](16) NOT NULL,
	[uNombre] [varchar](15) NOT NULL,
	[uApellido] [varchar](15) NOT NULL,
	[uCorreo] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Asiento] ([id_Asiento], [letra], [fila]) VALUES (1, N'X', 1)
INSERT [dbo].[Asiento] ([id_Asiento], [letra], [fila]) VALUES (2, N'X', 2)
INSERT [dbo].[Asiento] ([id_Asiento], [letra], [fila]) VALUES (3, N'X', 3)
INSERT [dbo].[Camion] ([id_Camion], [id_Chofer], [id_Asiento]) VALUES (1, 1, 1)
INSERT [dbo].[Camion] ([id_Camion], [id_Chofer], [id_Asiento]) VALUES (2, 2, 2)
INSERT [dbo].[Camion] ([id_Camion], [id_Chofer], [id_Asiento]) VALUES (3, 3, 3)
INSERT [dbo].[Chofer] ([id_Chofer], [chNombre], [chEdad], [chTelefono], [chLicencia], [EmpleadoActivo]) VALUES (1, N'El Chaps', 25, 8126431680, N'A2', N'SI')
INSERT [dbo].[Chofer] ([id_Chofer], [chNombre], [chEdad], [chTelefono], [chLicencia], [EmpleadoActivo]) VALUES (2, N'Jose Dominguez', 30, 8131912855, N'A2', N'SI')
INSERT [dbo].[Chofer] ([id_Chofer], [chNombre], [chEdad], [chTelefono], [chLicencia], [EmpleadoActivo]) VALUES (3, N'Matias Almeida', 29, 812352346, N'A2', N'SI')
INSERT [dbo].[DetalleDeVenta] ([id_DetalleDeVenta], [id_Salida], [id_ProductoBoleto]) VALUES (1, 1, 1)
INSERT [dbo].[DetalleDeVenta] ([id_DetalleDeVenta], [id_Salida], [id_ProductoBoleto]) VALUES (2, 2, 2)
INSERT [dbo].[DetalleDeVenta] ([id_DetalleDeVenta], [id_Salida], [id_ProductoBoleto]) VALUES (3, 3, 3)
INSERT [dbo].[FacturaEncabezado] ([id_Factura], [id_RegistroVenta], [id_ProductoBoleto]) VALUES (1, 1, 1)
INSERT [dbo].[FacturaEncabezado] ([id_Factura], [id_RegistroVenta], [id_ProductoBoleto]) VALUES (2, 2, 2)
INSERT [dbo].[FacturaEncabezado] ([id_Factura], [id_RegistroVenta], [id_ProductoBoleto]) VALUES (3, 3, 3)
INSERT [dbo].[MunicipiosEstados] ([id_MunicipioEstado], [Municipio], [Estado]) VALUES (1, N'Monterrey', N'Nuevo Leon')
INSERT [dbo].[MunicipiosEstados] ([id_MunicipioEstado], [Municipio], [Estado]) VALUES (2, N'Torreon', N'Coahuila')
INSERT [dbo].[MunicipiosEstados] ([id_MunicipioEstado], [Municipio], [Estado]) VALUES (3, N'Aguascalientes', N'Aguascalientes')
INSERT [dbo].[Pasajero] ([id_Pasajero], [pNombre], [pApellido], [pCorreo], [pTelefono]) VALUES (1, N'Ivan', N'Castillo', N'ivancas@hotmail.com', 8123124543)
INSERT [dbo].[Pasajero] ([id_Pasajero], [pNombre], [pApellido], [pCorreo], [pTelefono]) VALUES (2, N'Jorge', N'Rodriguez', N'jorgerdz@hotmail.com', 8128674543)
INSERT [dbo].[Pasajero] ([id_Pasajero], [pNombre], [pApellido], [pCorreo], [pTelefono]) VALUES (3, N'Maria', N'Rangel', N'mariaran@hotmail.com', 8123119843)
INSERT [dbo].[PrecioDeRuta] ([iId_PrecioRuta], [id_Ruta], [PrecioRuta], [iIdPromocion]) VALUES (1, 1, 500, 10)
INSERT [dbo].[PrecioDeRuta] ([iId_PrecioRuta], [id_Ruta], [PrecioRuta], [iIdPromocion]) VALUES (2, 2, 700, 10)
INSERT [dbo].[PrecioDeRuta] ([iId_PrecioRuta], [id_Ruta], [PrecioRuta], [iIdPromocion]) VALUES (3, 3, 245.8, 10)
INSERT [dbo].[ProductoBoleto] ([id_ProductoBoleto], [id_Pasajero], [iId_PrecioRuta], [CantidadDeBoletos], [Precio_BoletosFinal]) VALUES (1, 1, 1, 2, 1000)
INSERT [dbo].[ProductoBoleto] ([id_ProductoBoleto], [id_Pasajero], [iId_PrecioRuta], [CantidadDeBoletos], [Precio_BoletosFinal]) VALUES (2, 2, 2, 1, 700)
INSERT [dbo].[ProductoBoleto] ([id_ProductoBoleto], [id_Pasajero], [iId_PrecioRuta], [CantidadDeBoletos], [Precio_BoletosFinal]) VALUES (3, 3, 3, 2, 490)
INSERT [dbo].[Promocion] ([iIdPromocion], [dFecInicioPromocion], [dFecFinPromocion], [fPorcentajeDescto], [cGenero], [tEdadMin], [tEdadMax]) VALUES (1, CAST(N'2020-05-10' AS Date), CAST(N'2020-05-10' AS Date), 0.2, N'F', 22, 40)
INSERT [dbo].[Promocion] ([iIdPromocion], [dFecInicioPromocion], [dFecFinPromocion], [fPorcentajeDescto], [cGenero], [tEdadMin], [tEdadMax]) VALUES (2, CAST(N'2020-11-15' AS Date), CAST(N'2020-11-16' AS Date), 0.15, N'-', 5, 80)
INSERT [dbo].[Promocion] ([iIdPromocion], [dFecInicioPromocion], [dFecFinPromocion], [fPorcentajeDescto], [cGenero], [tEdadMin], [tEdadMax]) VALUES (3, CAST(N'2020-03-16' AS Date), CAST(N'2020-03-21' AS Date), 0.1, N'-', 5, 80)
INSERT [dbo].[RegistroDeVenta] ([id_RegistroVenta], [id_DetalleDeVenta], [CapturaVenta]) VALUES (1, 1, CAST(N'2020-05-10T10:00:00.000' AS DateTime))
INSERT [dbo].[RegistroDeVenta] ([id_RegistroVenta], [id_DetalleDeVenta], [CapturaVenta]) VALUES (2, 2, CAST(N'2020-05-11T11:00:00.000' AS DateTime))
INSERT [dbo].[RegistroDeVenta] ([id_RegistroVenta], [id_DetalleDeVenta], [CapturaVenta]) VALUES (3, 3, CAST(N'2020-05-12T12:00:00.000' AS DateTime))
INSERT [dbo].[Ruta] ([id_Ruta], [Origen], [Destino], [Distancia_KM]) VALUES (1, 1, 2, 5.4)
INSERT [dbo].[Ruta] ([id_Ruta], [Origen], [Destino], [Distancia_KM]) VALUES (2, 2, 3, 16.5)
INSERT [dbo].[Ruta] ([id_Ruta], [Origen], [Destino], [Distancia_KM]) VALUES (3, 3, 4, 7.9)
INSERT [dbo].[Salida] ([id_Salida], [HoraSalida], [FechaSalida], [id_Camion], [id_Ruta]) VALUES (1, CAST(N'10:00:00' AS Time), CAST(N'2020-05-10' AS Date), 1, 1)
INSERT [dbo].[Salida] ([id_Salida], [HoraSalida], [FechaSalida], [id_Camion], [id_Ruta]) VALUES (2, CAST(N'11:00:00' AS Time), CAST(N'2020-05-11' AS Date), 2, 2)
INSERT [dbo].[Salida] ([id_Salida], [HoraSalida], [FechaSalida], [id_Camion], [id_Ruta]) VALUES (3, CAST(N'12:00:00' AS Time), CAST(N'2020-05-12' AS Date), 3, 3)
INSERT [dbo].[Usuarios] ([id_Usuario], [uUsuario], [uContraseña], [uNombre], [uApellido], [uCorreo]) VALUES (1, N'Ivan', N'ivam123.', N'Ivan', N'Arredondo', N'ivanarr@hotmail.com')
INSERT [dbo].[Usuarios] ([id_Usuario], [uUsuario], [uContraseña], [uNombre], [uApellido], [uCorreo]) VALUES (2, N'Antonio', N'antonio123.', N'Antonio', N'Presas', N'antoniopre@hotmail.com')
INSERT [dbo].[Usuarios] ([id_Usuario], [uUsuario], [uContraseña], [uNombre], [uApellido], [uCorreo]) VALUES (3, N'Luca', N'luca123.', N'Lucas', N'Gutierrez', N'lucagut@hotmail.com')
ALTER TABLE [dbo].[Camion]  WITH CHECK ADD  CONSTRAINT [FK_Camion_Asiento] FOREIGN KEY([id_Asiento])
REFERENCES [dbo].[Asiento] ([id_Asiento])
GO
ALTER TABLE [dbo].[Camion] CHECK CONSTRAINT [FK_Camion_Asiento]
GO
ALTER TABLE [dbo].[Camion]  WITH CHECK ADD  CONSTRAINT [FK_Camion_Chofer] FOREIGN KEY([id_Chofer])
REFERENCES [dbo].[Chofer] ([id_Chofer])
GO
ALTER TABLE [dbo].[Camion] CHECK CONSTRAINT [FK_Camion_Chofer]
GO
ALTER TABLE [dbo].[DetalleDeVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_ProductoBoleto] FOREIGN KEY([id_ProductoBoleto])
REFERENCES [dbo].[ProductoBoleto] ([id_ProductoBoleto])
GO
ALTER TABLE [dbo].[DetalleDeVenta] CHECK CONSTRAINT [FK_DetalleVenta_ProductoBoleto]
GO
ALTER TABLE [dbo].[DetalleDeVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Salida] FOREIGN KEY([id_Salida])
REFERENCES [dbo].[Salida] ([id_Salida])
GO
ALTER TABLE [dbo].[DetalleDeVenta] CHECK CONSTRAINT [FK_DetalleVenta_Salida]
GO
ALTER TABLE [dbo].[FacturaEncabezado]  WITH CHECK ADD  CONSTRAINT [FK_Factura_ProductoBoleto] FOREIGN KEY([id_ProductoBoleto])
REFERENCES [dbo].[ProductoBoleto] ([id_ProductoBoleto])
GO
ALTER TABLE [dbo].[FacturaEncabezado] CHECK CONSTRAINT [FK_Factura_ProductoBoleto]
GO
ALTER TABLE [dbo].[FacturaEncabezado]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Registro] FOREIGN KEY([id_RegistroVenta])
REFERENCES [dbo].[RegistroDeVenta] ([id_RegistroVenta])
GO
ALTER TABLE [dbo].[FacturaEncabezado] CHECK CONSTRAINT [FK_Factura_Registro]
GO
ALTER TABLE [dbo].[PrecioDeRuta]  WITH CHECK ADD  CONSTRAINT [FK_PrecioRuta_Promocion] FOREIGN KEY([iIdPromocion])
REFERENCES [dbo].[Promocion] ([iIdPromocion])
GO
ALTER TABLE [dbo].[PrecioDeRuta] CHECK CONSTRAINT [FK_PrecioRuta_Promocion]
GO
ALTER TABLE [dbo].[PrecioDeRuta]  WITH CHECK ADD  CONSTRAINT [FK_PrecioRuta_Ruta] FOREIGN KEY([id_Ruta])
REFERENCES [dbo].[Ruta] ([id_Ruta])
GO
ALTER TABLE [dbo].[PrecioDeRuta] CHECK CONSTRAINT [FK_PrecioRuta_Ruta]
GO
ALTER TABLE [dbo].[ProductoBoleto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Pasajero] FOREIGN KEY([id_Pasajero])
REFERENCES [dbo].[Pasajero] ([id_Pasajero])
GO
ALTER TABLE [dbo].[ProductoBoleto] CHECK CONSTRAINT [FK_Producto_Pasajero]
GO
ALTER TABLE [dbo].[ProductoBoleto]  WITH CHECK ADD  CONSTRAINT [FK_ProductoBoleto_PrecioRuta] FOREIGN KEY([iId_PrecioRuta])
REFERENCES [dbo].[PrecioDeRuta] ([iId_PrecioRuta])
GO
ALTER TABLE [dbo].[ProductoBoleto] CHECK CONSTRAINT [FK_ProductoBoleto_PrecioRuta]
GO
ALTER TABLE [dbo].[RegistroDeVenta]  WITH CHECK ADD  CONSTRAINT [FK_Registro_Detalle] FOREIGN KEY([id_DetalleDeVenta])
REFERENCES [dbo].[DetalleDeVenta] ([id_DetalleDeVenta])
GO
ALTER TABLE [dbo].[RegistroDeVenta] CHECK CONSTRAINT [FK_Registro_Detalle]
GO
ALTER TABLE [dbo].[Ruta]  WITH CHECK ADD  CONSTRAINT [FK_Ruta_Destino] FOREIGN KEY([Destino])
REFERENCES [dbo].[MunicipiosEstados] ([id_MunicipioEstado])
GO
ALTER TABLE [dbo].[Ruta] CHECK CONSTRAINT [FK_Ruta_Destino]
GO
ALTER TABLE [dbo].[Ruta]  WITH CHECK ADD  CONSTRAINT [FK_Ruta_Origen] FOREIGN KEY([Origen])
REFERENCES [dbo].[MunicipiosEstados] ([id_MunicipioEstado])
GO
ALTER TABLE [dbo].[Ruta] CHECK CONSTRAINT [FK_Ruta_Origen]
GO
ALTER TABLE [dbo].[Salida]  WITH CHECK ADD  CONSTRAINT [FK_Salida_Camion] FOREIGN KEY([id_Camion])
REFERENCES [dbo].[Camion] ([id_Camion])
GO
ALTER TABLE [dbo].[Salida] CHECK CONSTRAINT [FK_Salida_Camion]
GO
ALTER TABLE [dbo].[Salida]  WITH CHECK ADD  CONSTRAINT [FK_Salida_Ruta] FOREIGN KEY([id_Ruta])
REFERENCES [dbo].[Ruta] ([id_Ruta])
GO
ALTER TABLE [dbo].[Salida] CHECK CONSTRAINT [FK_Salida_Ruta]
GO
USE [master]
GO
